*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo,img{
    width: 100%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFE521;
}
.container{
    height:1000px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #828282;
}

.firstblock{
    
   background-color:#A0A0A0 	;
    width: 25%;
    float: left;
}
#listcohorts,#listusers,h1{
    
    width: 90%;
   margin: 0 auto;
   margin-left: 5%;   
   background-color:#E0E0E0;
   
}
#listusers{
    height:900px;
  }
.secondblock{
    width: 75%;
    float: left;
    background-color: #828282 	;
}
@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        
    }  
}