header img {
    height: 50%;
    width: 30%;
    
}
.logo {
    width: 100%;
    height: 40%;
    text-align: center;
    background-color: #FFE521;
}
#left{
    float: left;
    width: 30%;
    height: 500px;
    background: beige;
}
#listcohorts{
    margin-top:20%;
    width:100%;
}
#listusers{
    margin-top:20%;
    height: 60%;
    width:100%;
}
.estadistica {
    width: 60%;
    height: 30%;
}
.modelo {
    text-align: center;
}

#main{
    float: left;
    width: 70%;
    height: 500px;
    background: #909090	;
}
#footer{
    float: left;
    width: 100%;
    height: 20px;
    background: black;
}